
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
<%= link_to 'Trash', @user, class:"btn btn-danger" , method: :delete, data: { confirm: 'Are you sure?' } %>
<%# <%= link_to 'Back', users_path %> 

<p>
  <strong>Username:</strong>
  <%= @user.username %>
  <br>
  <strong>Role :</strong>
  <%= @user.role %>

</p>

