<%= form_with model: @bug, local: true do |form| %>
<%# Display forms errors  %>
  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2>Errors : </h2>

      <ul>
        <% @bug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%# form %>
  <div class="form-group">
    <%= label_tag :owner %> : <%= @current_user.username%>
     <%= form.radio_button :owner, @current_user.username, :checked => true %>
  </div>

  <div class="form-group">
    <%= label_tag :title %>
    <%= form.text_field :title, placeholder: "title" %>
  </div>

  <div class="form-group">
    <%= label_tag :description %>
    <%= form.text_area :description, placeholder: "description" %>
  </div>

  <div class="form-group">
    <%= label_tag :assignate %>
    <%= form.select :assignate, @users.collect {|u| [ u.username, u.username ] } %>
  </div>

  <div class="form-group">
    <%= label_tag :state %>
    <%= form.select :state, @states.collect {|k,v|[k, k]} %>
  </div>

  <div class="form-group">
    <%= label_tag :severity %>
    <%= form.select :severity, @severity.collect {|k,v|[k, k]} %>
  </div>

   <div class="form-group">
      <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
