<h1 title="Edit bug">Edit bug</h1>

<%= form_with model: @bug do |form| %>
  <%= form.select :owner, @users.collect {|u| [ u.username, u.id ] } %>
  <%= form.text_field :title, placeholder: "title" %>
  <%= form.text_area :description, placeholder: "description" %>
  <%= form.select :assignate, @users.collect {|u| [ u.username, u.id ] } %>
  <%= form.select :state, @states.collect {|k,v|[k, k]} %>
  <%= form.submit %>
  
<% end %>



   
